@model IEnumerable<BlogMvc.Models.PostModel>
@{

    ViewData["Title"] = "Index";
}


<div>
    <br />
    <h2>Posts Index</h2>

    <h2>All Articles</h2>
    @foreach (var post in Model)
    {
        <p>Title: <span>@post.Title</span></p>
        <p>Author: <span>@post.Author</span></p>
        <img src="@post.Image" />
        <p>Article: <span>@post.Body</span></p>
        <p>Post Number: @post.ID</p>
        <p>Category: @post.CategoryID</p>
        <a href="/Post/Details/@post.ID">Article Details</a>
        <br />
        <hr />

    }


</div>
