@model IEnumerable<BlogMvc.Models.PostModel>
@{

    ViewData["Title"] = "Index";
}


<div id="detail">
    <br />
    <h2>All Articles</h2>
    @foreach (var post in Model)
    {
        <article>
            <p>Title: <span>@post.Title</span></p>
            <p>Author: <span>@post.Author</span></p>
            <img src="@post.Image" />
            <p>Post Number: @post.ID</p>
            <p> Date Published: @post.Date</p>
            <p>Category: @post.CategoryID</p>
            
            <button>
                <a href="/Post/Details/@post.ID">Article Details</a>
            </button>
    <br />
    <hr />
</article>

    }


</div>
